body{
    background-color: hsl(0, 0%, 97%);
}
.login-form{
    background-color: hsl(0, 0%, 100%);
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-bottom-left-radius: 0.5ch;
    border-bottom-right-radius: 0.5ch;
    padding: 15px;
}
.inner-login-form > .nd-inner{
    margin-bottom: 10px;    
}
.nd-login-form{
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 96%);
}
.nd-inner > a{
    text-decoration: none;
}
.nd-inner > button{
    width: 100%;
}
.ttle{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-top-left-radius: 0.5ch;
    border-top-right-radius: 0.5ch;
}
.ttle-out{
    background-color: hsl(0, 0%, 96%);
    
}
::placeholder {
  color: lightgray;
}

