.bg-cvr{
    background-color: hsl(0, 0%, 97%);
}
.login-form{
    background-color: hsl(0, 0%, 100%);
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-bottom-left-radius: 0.5ch;
    border-bottom-right-radius: 0.5ch;
    padding: 15px;
}
.inner-login-form > .nd-inner{
    margin-bottom: 10px;    
}
.nd-login-form{
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 96%);
}
.nd-inner > a{
    text-decoration: none;
}
.nd-inner > button{
    width: 100%;
}
.ttle{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-top-left-radius: 0.5ch;
    border-top-right-radius: 0.5ch;
}
.ttle-out{
    background-color: hsl(0, 0%, 96%);
    
}
::placeholder {
  color: lightgray;
}

.nv-pane{
    background-color: hsl(0, 0%, 97%);
    height: 100vh;
}
.srch-bar > .input-group{
    margin-top: 1rem;
}
.nv-pane  a{
    text-decoration: none;
}
.br{
    height: 1px;
    width: calc(100% + 24px);
    background-color: lightgray;
    margin-left: -12px;
    margin-right: -12px;
}
.opt{
    height: 5%;
    align-items: center;
}
.mn-actn-br{
    height: 1px;
    background-color: lightgray;
    width: 100%;
}
.mn-actn{
    padding: 40px;
}
.border-box-form{
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-bottom-left-radius: 0.5ch;
    border-bottom-right-radius: 0.5ch;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mn-actn-cntnt > :nth-child(1){
    background-color: hsl(0, 0%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-top-left-radius: 0.5ch;
    border-top-right-radius: 0.5ch;
}
.form-label{
    font-weight: bold;
}
.mn-actn-cntnt{
    margin-left: 0px;
    margin-right: 0px;
}
.ttle-bar{
    background-color: hsl(0, 0%, 96%);
    height: 60px;
    align-content: center;
}
.ttle-bar-br{
    height: 1px;
    background-color: lightgray;
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
}
#dropdownMenuButton1{
    background-color: hsl(0, 0%, 96%);
    border: none;
    color: hsl(216, 98%, 52%);

}
.logo{
    align-content: center;
}